/* Normalize */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General */

html,
body {
  color: #222;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
}

a {
  color: #222;
  text-decoration: none;
}

.btn {
  border-radius: 30px;
  display: inline-block;
  padding: 15px 20px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s;
}

.btn-primary {
  background-color: #fff;
  color: #222;
}

.btn-primary:hover {
  background-color: #222;
  color: #fff;
}

.container {
  display: block;
  margin: auto;
  max-width: 1000px;
}

hr {
  background-color: #111;
  border: none;
  height: 10px;
  margin: 20px auto;
  width: 100px;
}

/* GENERIC */
.my-10 {
  margin-bottom: 10px;
  margin-top: 10px;
}

/* Header */
.header {
  background-color: #333;
  line-height: 1.7em;
  overflow: auto;
}

.header h1 {
  float: left;
  padding: 20px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.header h1 a {
  color: #fff;
}

.header nav ul {
  float: right;
  list-style: none;
}

.header nav ul li {
  float: left;
}

header nav ul li a {
  color: #fff;
  display: block;
  padding: 20px;
}

.header nav ul li a:hover {
  background-color: #444;
}

.active {
  background-color: #444;
}

/* Value Proposition */
.vp {
  background: url(../images/cafe1.jpg) center center;
  background-size: cover;
  height: 700px;
  text-align: center;
}

.vp-content {
  color: #fff;
  display: block;
  margin: auto;
  padding-top: 150px;
  max-width: 600px;
}

.vp-content h1 {
  font-size: 50px;
}

.vp-content p {
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 1.9em;
}

/* FEATURES */
.features {
  padding: 100px 0;
  overflow: auto;
  text-align: center;
}
.feature {
  float: left;
  width: 50%;
}

/* BG PICTURE */
.bg-picture {
  background: url(../images/cafe3.jpg) center center/cover;
  height: 400px;
}
